{% extends "base.html" %}
{% block title %}{{post.title|escape}} - {{config.blog_name}}{% endblock %}
{% block body %}
<div class="post">
  <div class="right">
  <h2>{{post.title|escape}}</h2>
    <p class="post-info">
      Posted on {{post.published_tz|date:"H:i"}} by {{config.author_name}}
      {% if post.tags %}
        | Filed under
        {% for tag in post.tag_pairs %}
          <a href="{{config.url_prefix}}/tag/{{tag.1|escape}}">{{tag.0|escape}}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
      {% endif %}
		| <a href="{{config.url_prefix}}{{post.path}}">PERMALINK</a>
    </p>
  {{post.rendered}}
  <br><br>
  {% if prev %}
    <a id="prev" href="{{config.url_prefix}}{{prev.path}}">Previous Post</a>
  {% endif %}
  {% if next %}
    <a id="next" href="{{config.url_prefix}}{{next.path}}">Next Post</a>
  {% endif %}

  {% if config.disqus_forum %}

	<!--
	<div class="share">
	    <span id="backtype">

	         <div id="tweet-btn">
				<a href="http://twitter.com/share" class="twitter-share-button" 
				data-count="horizontal" 
				data-counturl="http://{{config.host}}{{config.url_prefix}}{{post.path}}"
				data-via="honcheng">Tweet</a>
				
				<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
			</div>
        </span>
        <span id="facebook-like" >
        	<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2F{{config.host}}{{config.url_prefix}}{{post.path}}&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:23px;" allowTransparency="true"></iframe>
        </span>
    </div>
	-->
	
	{% if config.sharing_buttons %}
        <div class="share-box">
            <ul>
                <li>
                    <!-- Twitter Tweet Button: http://twitter.com/goodies/tweetbutton -->
                    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="detronizator">Tweet</a>
                    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                </li>
                <li>
                    <!-- Facebook Share Button: http://www.facebook.com/share/ -->
                    <a name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php">Share</a>
                    <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
                </li>
                <li>
                    <!-- Google Buzz Button: http://www.google.com/buzz/api/admin/configPostWidget -->
                    <a title="Post to Google Buzz" class="google-buzz-button" href="http://www.google.com/buzz/post" data-button-style="small-count"></a>
                    <script type="text/javascript" src="http://www.google.com/buzz/api/button.js"></script>
                </li>
                <li>
                    <!-- Reddit Button: http://www.reddit.com/buttons/ -->
                    <script type="text/javascript" src="http://reddit.com/static/button/button1.js"></script>
                </li>
                <li>
                    <!-- Digg Smart Button: http://about.digg.com/downloads/button/smart -->
                    <script type="text/javascript">
                    (function() {
                    var s = document.createElement('SCRIPT'), s1 = document.getElementsByTagName('SCRIPT')[0];
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = 'http://widgets.digg.com/buttons.js';
                    s1.parentNode.insertBefore(s, s1);
                    })();
                    </script>
                    <!-- Compact Button -->
                    <a class="DiggThisButton DiggCompact"></a>
                </li>
            </ul>
        </div>
    {% endif %}

	
    <h3 id="comments">Comments</h3>
    <div id="disqus_thread"></div>
    {% if devel %}
      <script type="text/javascript">
        disqus_developer = 1;
      </script>
    {% endif %}
    <script type="text/javascript" src="http://disqus.com/forums/{{config.disqus_forum}}/embed.js"></script>
    <noscript><a href="http://disqus.com/forums/{{config.disqus_forum}}/?url=ref">View the discussion thread.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  {% endif %}
  </div><!-- right-->

  <div class="left">
{% include "post_meta.html" %}
  </div><!-- left -->
</div><!-- post -->
{% endblock %}
